.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-flow: row;
  .stable{
    background-color: #708090;
    width:300px;    
    border-style: outset;
    border-width: 5px;
  }
  .change{
    background-image: url(../assets/bgcolor.png);
    background-size:cover;
    flex:1;
  }
}