@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.btn {
    div {
        color: white;
        font-size: 30px;
        text-shadow: #171a12 0.07em 0.07em 0.2em;
        font-family: 'Suez One';
        margin: 40px auto;
        a {
            text-decoration:none;
            color: white;
        }
        a:hover, a:visited, a:link, a:active{
            text-decoration:none;
            color: white;
        }
    }
    div:hover {
        text-shadow: black 0.07em 0.07em 0.4em;
    }
}