@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.name {
    color: White;
    font-family: 'Alata';
    font-size: 30px;
    text-align: center;
    text-shadow: black 0.07em 0.07em 0.2em;
    hr {
        width:80%;
        margin:0 auto;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, #708090, #FFFFFF, #708090);
    }
}